{% extends "admin/admin-base.html" %}
{% load filters %}

{% block content %}
    <h1>New static page</h1>
    <form method="post" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title: </label>
            {{ form.title|addclass:'form-control' }}
        </div>
        <div class="form-group">
            <label for="contents">Title: </label>
            {{ form.contents|addclass:'form-control' }}
        </div>
        <input type="submit" name="submit" value="Save" class="btn btn-default" />
    </form>
{% endblock %}